.buscador {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.buscador form {
    width: 600px;
    display: flex;
    align-items: center;
    background-color: #003971;     
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.buscador form:hover {
    box-shadow: 0 6px 20px rgba(0,0,0,0.7);
}

.buscador form input {
    flex: 1;
    border: 1px solid #1e90ff;    
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #000928;
    outline: none;
}

.buscador form select {
    padding: 8px 12px;
    border: 1px solid #1e90ff;
    border-radius: 5px;
    background: #000928;
    color: #ffffff;
    margin-left: 10px;
}

.buscador form button {
    background-color: #1e90ff;      
    border: none;
    border-radius: 5px;
    padding: 8px 18px;
    margin-left: 10px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.buscador form button:hover {
    background-color: #0d6efd;     
}
