.detalle-card {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background: #faf7f0;            
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.detalle-titulo {
  font-family:'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: #003971;                 
}

.detalle-imagen {
  display: block;
  margin: 0 auto 20px;
  border-radius: 8px;
  width: 300px;
}

.detalle-info {
  font-size: 16px;
  line-height: 1.5;
  color: #000928;            
}

