footer {
    width: 100%;
    background-color: #003971;                   
    padding: 2% 2%;
    margin: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid #2c2c2c;  
}

.nombres-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 2%;
}

.nombres-footer h3 {
    font-weight: bolder;
    margin: 0;
    font-size: 1rem;
    color: #ffffff;              
}

.nombres-footer h3:hover {
    color: #1e90ff;                  
}
